@import 'tailwindcss';

@theme {
    --color-primary: #19A1AE;
    --color-secondary: #2E3349;
    --color-tertiary: #6B7082;
    --font-kumbh: "Kumbh Sans", sans-serif;
}

.card {
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.5);
}